<?php
/** @var \Elogic\Author\Block\Authors $block */
$authors = $block->getAuthors();
//$isEnabled = $this->helper(\Elogic\HelloWorld\Helper\Data::class)->isEnabled();
$isEnabled = $block->getViewModel()->isAuthorModuleEnabled;
echo "Authors_list.phtml:";
echo "<p>";
if ($isEnabled) {
    foreach ($authors as $author) {
        echo $author->getFullName() . ' ' . $author->getLivingYears() . "<br>";
    }
}
echo "</p>";
