<?php
use Elogic\HelloWorld\Block\HelloWorld;
/** @var HelloWorld $block */
$_product = $block->getProductById(5);
?>
<h1>ID: <?=$_product->getId()?></h1>
<h1>Name: <?=$_product->getName();?></h1>
<p>Category: <?=$block->getCategoryName();?></p>
